 
{% extends "template.html"%}
{% load static %}

{% block content %}

  {% if message %}
  <div >
    <h2 style="text-align: center;" dir="rtl">{{ message | safe }}</h2>
  </div>
  {% endif %}

<section id="main">
    <section class="thumbnails">
      <div>
        {% for post in posts_l %} 
        
        <a href="{{ post.image.url }}">
          <img src="{{ post.image.url }}" alt=""/>
          <h2> {{ post.text }}</h2>
        </a>
        
        {% endfor %}
      </div>
        <div>
        {% for post in posts_m %} 
        
        <a href="{{ post.image.url }}">
          <img src="{{ post.image.url }}" alt=""/>
          <h2> {{ post.text }}</h2>
        </a>
        
        {% endfor %}
      </div>
      <div>
        {% for post in posts_r %} 
        
        <a href="{{ post.image.url }}">
          <img src="{{ post.image.url }}" alt=""/>
          <h2> {{ post.text }}</h2>
        </a>
        
        {% endfor %}
      </div>
  </section>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
        <script src="{% static 'js/skel.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>



{% endblock %}